@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバーのデザイン */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
}

.wavy-border-red {
  background-size: 100% 20px; /* ウェーブの高さを設定 */
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    #ec7871 10px,
    #ec7871 30px
  ); /* ウェーブのパターンを設定 */
}

.wavy-border-violet {
  background-size: 100% 20px; /* ウェーブの高さを設定 */
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgb(167 139 250) 10px,
    rgb(167 139 250) 30px
  ); /* ウェーブのパターンを設定 */
}

.triangle {
  width: 0;
  height: 0;
  border-left: 45px solid rgb(167 139 250); /* 左側の線 */
  border-bottom: 45px solid transparent; /* 下側の線 */
}
